.character-list-container {
  width: 200px;
  padding: 10px;
  border-left: 1px solid #ccc;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #f9f9f9;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.character-item {
  width: 50px;
  height: 50px;
}

.character-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
