/* src/Search.css */
.search-container {
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 300px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    border-radius: 8px 0 0 8px;
    border: 1px solid #ccc;
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
  }
  
  .search-input:focus {
      outline: none;
      border-color: #646cff;
  }
  
  .search-button {
      border-radius: 0 8px 8px 0;
  }
  
  @media (prefers-color-scheme: light) {
      .search-input {
          background-color: #f9f9f9;
          color: #213547;
      }
  }
  